
$(function() {
  // Ajax call for Comments
  $('#new_comment').submit(function(event){
    event.preventDefault();

    $.ajax({
      url: $(this).attr('action'),
      method: $(this).attr('method'),
      data: $(this).serialize(),
      dataType: 'json'

    }).done(function(data){
      console.log(data);
      var list =  "<p>" + data.comment + "<em> by "  + data.user + " </em>" + data.created_at + '</p>';
      $('#comments').prepend(list);
      $('#comment_comment').val("");

    }).fail(function(jqXHR, textStatus, errorThrown){
      console.log('Ajax Request Failed');
      console.log(jqXHR);
    }).always(function(){
      console.log('Ajax Request Sent');
    });
  });

  // Ajax call for search by project_title
  $('.search input[type="submit"]').click(function(event){
    event.preventDefault();

    $.ajax({
      url: "/projects/?project_title=" + $("input#project_title").val(),
      method: "GET",
      dataType: 'json'

    }).done(function(data){
      console.log(data);
      $('#search_results').html("");

      for(var i=0; i < data.length; i++){
        var list = '<article class="project"><a class="project-link" href="/projects/' + data[i].id + '"><figure class="project-image"><img src="/assets/' + data[i].image + '"></figure><h2 class="project-title">' + data[i].title+ '</h2></article>';

        $('#search_results').append(list);
        $("input#project_title").val("");
    }

    }).fail(function(jqXHR, textStatus, errorThrown){
      console.log('Ajax Request Failed');
      console.log(jqXHR);
    }).always(function(){
      console.log('Ajax Request Sent');
    });
  });

  // Ajax call for search by category
  $('.search > a').click(function(event){
    event.preventDefault();

    var link = $(this);
    // console.log(link);
    console.log(link.attr('href'));

    $.ajax({
      url:  $(this).attr('href'),
      method: "GET",
      dataType: 'json'

    }).done(function(data){
      $('#search_results').html("");
      //console.log(data);
      for(var i=0; i < data.length; i++){
        var list = '<article class="project"><a class="project-link" href="/projects/' + data[i].id + '"><figure class="project-image"><img src="/assets/' + data[i].image + '"></figure><h2 class="project-title">' + data[i].title+ '</h2></article>';

        $('#search_results').append(list);
      }

    }).fail(function(jqXHR, textStatus, errorThrown){
      console.log('Ajax Request Failed');
      console.log(jqXHR);
    }).always(function(){
      console.log('Ajax Request Sent');
    });
  });

});
